body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #0f172a;
    color: white;
}

/* HEADER */
header {
    text-align: center;
    padding: 20px;
    background: #020617;
}

/* HERO */
.hero {
    height: 250px;
    background: linear-gradient(135deg, #1e293b, #0f172a);
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    text-align: center;
}

/* CONTENEDOR */
.contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

/* TARJETAS */
.card {
    background: #1e293b;
    padding: 20px;
    margin: 15px;
    border-radius: 15px;
    width: 220px;
    text-align: center;
    text-decoration: none;
    color: white;
    transition: 0.3s;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

/* HOVER (esto le da vida) */
.card:hover {
    transform: translateY(-10px) scale(1.05);
    background: #ef4444;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 15px;
    background: #020617;
}